*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.container{
    flex: 1;
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board-grid{
    max-height: 40rem;
    max-width: 40rem;
    display: grid;
    grid-template-columns: repeat(3, 10rem);
    grid-template-rows: repeat(3, 10rem);
}

.cell{
    background-color: white;
    border: black solid 1px;

    
}

.x{
    background-image: url(/images/x.png);
    background-size: 10rem;
}

.circle{
    background-image: url(/images/o-removebg-preview.png);
    background-size: 10rem;
}

.blocked {
    background-color: grey;
    pointer-events: none;
}