@font-face {
  font-family: 'tecno';
  src: url('font/TechnoRaceItalic-eZRWe.otf');
}

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.container {
  height: 100vh;
  width: 100vw;
  background-color: #fa824c;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container > h2 {
  font-size: clamp(1em, 3em, 5em);
  text-align: center;
  color: #fafffd;
  background-color: #3c91e6;
  font-family: 'tecno';
}

.header {
  height: 100%;
  width: 100vw;
  background-color: #342e37;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header > .points {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  gap: 10vw;
}

.header .points .button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header .points .button h2 {
  font-size: clamp(1em, 3em, 4em);
}

.header > .points > .button > button {
  background-color: #3c91e6;
  height: 5vh;
  width: 20vw;
  font-size: clamp(0.5em, 1em, 2em);
  border-radius: 20px;
  border: 2px solid #fa824c;
}

.header > div > div > h2 {
  font-size: clamp(1em, 2em, 4em);
  color: #fafffd;
  font-family: 'tecno';
}

.score {
  font-family: 'tecno';
  font-size: clamp(2em, 4em, 6em);
  color: #fafffd;
}

.board-grid {
  margin: 0.5em;
  display: grid;
  grid-template-columns: repeat(3, minmax(4em, 8em));
  grid-template-rows: repeat(3, minmax(4em, 8em));
  justify-content: center;
  gap: 1em;
}

.cell {
  background-color: white;
  border: 1px solid #342e37;
  border-radius: 20px;
}

.x {
  background-image: url('images/x.png');
  background-size: contain;
}

.circle {
  background-image: url('images/o-removebg-preview.png');
  background-size: contain;
}

.blocked {
  background-color: lightgrey;
  pointer-events: none;
}

.loser {
  background-color: red;
}
.winner {
  background-color: green;
}
